# Banco de dados

## Banco de dados relacionais

### SQLite com python

### documentação sqlite: https://www.sqlite.org/index.html

### criando um arquivo, conexão, cursor e tabelas

In [1]:
# removendo o arquivo com banco de dados SQLite (caso exita)
# só por causa de não ser a primeira execução sua
import os
os.remove("escola.db") if os.path.exists("escola.db") else None

In [2]:
import sqlite3

In [3]:
# cria uma conexão com o banco de dados
# se o banco de dados não existir, ele é criado
con = sqlite3.connect("escola.db")

In [4]:
type(con)

sqlite3.Connection

In [5]:
# criando um cursor (um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
# criando uma tabela
sql_create = 'create table pilotos'\
'(nome varchar(50) primary key, '\
'equipe varchar(50), '\
'pontos integer)'

In [8]:
cur.execute(sql_create)

### Lendo e inserindo novos dados

In [9]:
sql_insert = 'insert into pilotos values (?, ?, ?)'

In [10]:
recset = [
    ('Lewis Hamilton', 'Mercedes', 177),
    ('Max Verstappen', 'RBR', 185),
    ('Lando Norris', 'McLaren', 113)
]

In [11]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [12]:
con.commit()

In [13]:
sql_select = 'select * from pilotos'

In [14]:
cur.execute(sql_select)
dados = cur.fetchall()

In [15]:
for linhas in dados:
    print("Nome: %s, Equipe: %s, Pontos: %d\n" %linhas)

Nome: Lewis Hamilton, Equipe: Mercedes, Pontos: 177

Nome: Max Verstappen, Equipe: RBR, Pontos: 185

Nome: Lando Norris, Equipe: McLaren, Pontos: 113

In [16]:
recset = [
    ('Valtteri Bottas', 'Mercedes', 108),
    ('Sergio Perez', 'RBR', 104)
]

In [17]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [18]:
con.commit()

In [19]:
cur.execute('select * from pilotos')
recset = cur.fetchall()

In [20]:
for rec in recset:
    print("Nome: %s, Equipe: %s, Pontos: %d\n" %rec)

Nome: Lewis Hamilton, Equipe: Mercedes, Pontos: 177

Nome: Max Verstappen, Equipe: RBR, Pontos: 185

Nome: Lando Norris, Equipe: McLaren, Pontos: 113

Nome: Valtteri Bottas, Equipe: Mercedes, Pontos: 108

Nome: Sergio Perez, Equipe: RBR, Pontos: 104

In [21]:
con.close()